<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- コンソール出力 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d [%-5p] %c{1}.%M - %m%n" />
		</layout>
	</appender>

	<!-- ファイル出力 -->
	<appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="file" value="log/IRCTime.log" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="-1" />
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] %c{1}.%M - %m%n" />
		</layout>
	</appender>

	<!-- イベントログ出力 -->
	<appender name="EVENTLOG" class="org.apache.log4j.nt.NTEventLogAppender">
		<param name="source" value="IRCTime" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%c{1}.%M - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
		</filter>
	</appender>

	<!-- ログレベル -->
	<logger name="com.mac.tarchan.irc">
		<level value ="DEBUG" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
